{% extends 'main/base.html'%}
{% import 'main/macros.html' as macro %}


{% block content %}

<div class="container h-100" id="header">
  <div class="row">
    <div class="col-md-6 h-100" id="col1">
      <img src="{{url_for('static', filename='1.jpg')}}" />
    </div>
    <div class="col-md-6 h-100" id="col2">
      <h3> Unleash Your <br> Creativity</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error vitae delectus velit, dolores officia eius
        asperiores unde facere nisi incidunt perferendis est voluptatum consequuntur quasi quidem dignissimos sequi
        deleniti eaque.</p>
      <div class="btns">
        <a href="#about-header">
          <button type="button" class="btn btn-danger btn-lg">Learn More!</button>
        </a>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center" id="abouttitle">Our Blogs</h3>
  <div class="container">
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
      <li class="nav-item">
        <a id="btns" class="nav-link" data-toggle="tab" href="#blogs"><strong>All Blogs</strong> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-dark" id="btns" data-toggle="tab" href="#technology">Technology Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btns" data-toggle="tab" href="#food">Food Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btns" data-toggle="tab" href="#lifestyle">Lifestyle Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btns" data-toggle="tab" href="#health">Health Blogs</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="container tab-pane active" id="blogs"><br>
      {{ macro.display(blogs) }}
    </div>
    <div class="container tab-pane fade" id="technology"><br>
      {{ macro.display(technology)}}
    </div>
    <div class="container tab-pane fade" id="food"><br>
      {{ macro.display(food) }}
    </div>
    <div class="container tab-pane fade" id="lifestyle"><br>
      {{ macro.display(lifestyle) }}

    </div>
    <div class="container tab-pane fade" id="health"><br>
      {{ macro.display(health) }}

    </div>
  </div>
</div>
</div>
{% if quotes %}

<div class="container" id="qoutes">
  <div class="row">
    <h3 class="text-center text-white" id="h3">Get Inspired By Quote Of The Day</h3>

    <div class="col-md-6 h-100" id="quoteid">
      <div class="card cardquote" id="quote2">
        <div class="card-title" id="quote">
          <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{quotes.author}}</span> </h4>
        </div>
        <p class="card-text">{{quotes.quote}}</p>
        <a href="{{quotes.permalink}}">
          <button type="button" class="btn btn-danger">Quote Link!!!</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 h-100" id="forimg">
      <!-- <img src="{{url_for('static', filename='6.png')}}" /> -->

    </div>
  </div>



</div>
<div class="container">
  <h3 id="about-header">About</h3>
  <div class="row">
    <div class="col-md-8" id="about">
      <!-- <img src="{{url_for('static', filename='11.jpg')}}" /> -->

    </div>
    <div class="col-md-4" id="card2">
      <h3>WELCOME TO JANEFFER'SBLOG, We're glad thaat you are here</h3>
      <p>This is a personal blogging website where we create and share opinions and our users can read and comment on
        them. Additionally, we displays random quotes to inspire our users. </p>
    </div>
  </div>
</div>
{% endif %}
<div class="container mt-5" id="email-cont">
  <h3>Subscribe To Our Blog Posts</h3>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <form class="form-inline" action="{{url_for('main.subscribe')}}" method="POST">
    <div class="md-form form-group" id="email">
      <label class="white-color">Email Address...</label>
      <input type="email" class="form-control " name="subscriber" required>
    </div>
    <div class="md-form form-group">
      <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
    </div>
  </form>
</div>
<footer class="page-footer bg-dark text-white font-small blue mt-5">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright: janeffer'sblog
  </div>

</footer>
{% endblock%}  